.left-side {
    height: auto;
    background: #f8f8f8;
    @media(min-width: 1200px) {
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
    }

    .input-holder {
        padding: 15px;
        @media(min-width: 1200px) {
            height: 50vh;
        }
    }
    .output-holder {
        padding: 15px;
        @media(min-width: 1200px) {
            height: 50vh;
        }
    }
}

.right-side {
    height: auto;
    @media(min-width: 1200px) {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 50%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}