<div class="dynamic-form-wrapper">
    @if(fields().length > 0 && form.controls) {
        <form [formGroup]="form">
            @if(formName()) {
                <h3 class="form-title">{{ formName() }}</h3>
            }
            <div class="row {{ rowClassName() }}">
                @for(field of fields(); track field.name) {
                    @if(isVisible(field)) {
                        <div class="{{ getFieldClassName(field) }}">
                            <app-form-field [field]="field" [form]="form" [layout]="layout()"></app-form-field>
                        </div>
                    }
                }
            </div>
            <div class="mb-3"></div>
            <div class="row {{ rowClassName() }}">
                <div class="col-12">
                    <app-button
                        [label]="buttonLabel() || ''"
                        [disabled]="form.invalid"
                        (btnClick)="onSubmit()"
                    ></app-button>
                </div>
            </div>
        </form>
    }
</div>
