@for(option of options(); track option.value) {
    <div class="radio-wrapper d-flex align-items-center">
        <p-radiobutton
            [ngModel]="selectedOption"
            (ngModelChange)="onSelectedOptionChange($event)"
            [name]="name()"
            [inputId]="option.value"
            [value]="option"
            (onBlur)="onBlur()"
            size="small"
        ></p-radiobutton>
        <label class="form-label" [for]="option.value">{{ option.label }}</label>
    </div>
}